<!-- 
{% extends 'main.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12" style="margin-top:20px;">
            <h3>{{ item.name }}</h3>
            <p>{{ item.address }}</p>

            {% for row in page_obj.0 %}
            <tr> 
                 <td>{{row.img_data}}</td>
                <td>{{row.class_}}</td> 
                <td>{{row.C_ad}}</td> 
                <td>{{row.weather_data}}</td> 
                <td>
                    {{row.rain_data}}
                    {{row.Hum_data}}
                    {{row.wind_data}}
                </td> 
                <td>{{row.address_}}</td>  
                <td>{{row.today_timedata}}</td>  
            </tr>
            {% endfor %}

        </div>
    </div>
</div>
{% endblock %} -->
