{% extends 'main.html' %}
{% block content %}
<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<div class="w3-row-padding w3-padding-64 w3-container">
    <div class="w3-content">
        <div class="w3-panel w3-animate-opacity">
            <div class="w3-tag w3-jumbo">산</div>
            <div class="w3-tag w3-jumbo">정</div>
            <div class="w3-tag w3-jumbo">보</div>
        </div>
    
        <table class="table table-striped">
            <tr>
                <!-- <th class="w3-container w3-green">사진</th>  -->
                <th class="w3-container w3-blue">산이름</th> 
                <th class="w3-container w3-red">좌표</th> 
                <th class="w3-container w3-yellow">날씨</th>
                <th class="w3-container w3-green">강수량/습도/풍속</th> 
                <th class="w3-container w3-green">내용</th> 
                <th class="w3-container w3-green">Date</th> 
            </tr>
            {% for row in page_obj.0 %}
            <tr> 
                <!-- <td>{{row.img_data}}</td>  -->
                <td>{{row.class_}}</td> 
                <td>{{row.address_}}</td> 
                <td>{{row.weather_data}}</td> 
                <td>
                    {{row.rain_data}}
                    {{row.Hum_data}}
                    {{row.wind_data}}
                </td> 
                <td>{{row.datas_mnt}}</td> 
                <td>{{row.today_timedata}}</td>  
            </tr>
            {% endfor %}
        </table>
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li>
            {% if page_obj.0.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.0.previous_page_number }}">Previous</a></li>
            {% endif %}
            <li class="page-item active"><a class="page-link" href="#">Page {{ page_obj.0.number }} of
                    {{ page_obj.0.paginator.num_pages }}</a></li>
            {% if page_obj.0.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.0.paginator.num_pages }}">last &raquo;</a>
            </li>
            {% endif %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.0.next_page_number }}">Next</a></li>
        </ul>
    </div>
</div>

{% endblock %}